ul,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wraper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    outline: solid 1px red;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main__L-container {
    background-color: lightgray;
    width: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* .header__nav {
    position: absolute;
} */

.header__avatar {
    /* background-color: lightgray; */
    width: 350px;
    /* border-radius: 120px;
    border-start-end-radius: revert;
    border-end-end-radius: revert; */
}

.header__avatar-image {
    background-color: rgb(255, 255, 255);
    border: 8px solid rgb(169, 175, 195);
    ;
    border-radius: 50%;
}

.header__nav-wraper {
    width: 400px;
    /* background-color: lightgray; */
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main__R-container-summary-description {
    width: 400px;
}

.footer {
    background-color: lightslategray;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}