body {
    background-color: antiquewhite;
}

ul,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wraper {
    width: 800px;
    margin-left: auto;
    margin-right: auto;

    outline: solid 1px red;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main__L-container {
    background-color: lightgray;
    width: 350px;
}

.header {
    display: flex;
    justify-content: space-between;
}

/* .header__nav {
    text-align: center;
} */

.header__avatar {
    background-color: lightgray;
    width: 350px;
}

.header__nav-wraper {
    width: 400px;
}

.header__nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main__R-container-summary-description {
    width: 400px;
}

.footer {
    background-color: lightslategray;
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}